@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.header__navbar {
    background-color: #96cfff;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header__login-link {
    color: white;
    background-color: #0b1d62;
    transition: 500ms ease;
}

.header__login-link:hover {
    background-color: #080832;
    transition: 500ms ease;
}

li.nav-item.dropdown {
    list-style-type: none;
}

@media (max-width: 992px) {
    ul.dropdown-menu.rounded-1.shadow-sm {
        background-color: transparent;
        border: none;
        box-shadow: none !important;
        padding: 0
    }
}

@media(min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        animation-name: fadeIn;
        animation-duration: 300ms;
        animation-timing-function: ease;
    }
    [data-bs-toggle="dropdown"] {
        pointer-events: none;
    }
}