.feauturedsongsingers__song__singer-name {
    font-size: .8rem;
    color: #acacac;
}

.feauturedsongsingers-img {
    aspect-ratio: 1/1;
    height: auto;
    width: 60px;
}

.icon-wrap {
    margin-left: auto;
}