.featured-article__image-wrapper {
    flex-basis: 36%;
    flex-shrink: 0;
}

.featured-article__image-wrapper img {
    width: 100%;
}

@media (max-width: 767px) {
    .featured-article__image-wrapper {
        flex-basis: 100%;
    }
}