.featured-singer__image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: 224ms linear;
}

.featured-singer__item-wrapper:hover img {
    transform: scale(0.95);
    border-radius: 12px;
}
