.featured-album__item-wrapper i {
    visibility: hidden;
    color: whitesmoke;
}

.featured-album__item-wrapper:hover i {
    visibility: visible;
}

.featured-album__item-wrapper:hover .featured-album__image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.featured-album__title {
    color: #080832;
}

