.featured-album__item-wrapper i {
    visibility: hidden;
    color: whitesmoke;
}


.featured-album__title {
    color: #080832;
}

.featured-album__image img {
    width: 100%;
    aspect-ratio: 1 / 1;
}